# Azure Entra (Azure AD) App Registration
AZURE_TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# The client ID and secret of the app registration with API permissions to call Microsoft Graph and issue VCs.
AZURE_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# The client secret is used to authenticate the backend when requesting access tokens for Microsoft Graph and should be kept secure.
AZURE_CLIENT_SECRET=your-client-secret
# Microsoft Entra Verified ID
VERIFIED_ID_DID=did:web:yourdomain.com
# Your app public HTTPS base URL (used for callbacks)
APP_BASE_URL=https://yourdomain.com
# A simple API key for testing the protected API endpoint. In production, you should implement a more secure authentication mechanism.
API_KEY=change-me
# The audience for the access token issued to the frontend. This should match the API permissions configured in the Azure Entra app registration.
AUTH_AUDIENCE=api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# This is the SPA app registration client ID.
AUTH_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# Logo url
LOGO_URL="https://placehold.co/140x36/FFFFFF/122147?text=Logo"
